body {
    font-family: Arial, sans-serif;
    background-color: #f8f4f5d7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #f1f2f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(65, 51, 192, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom:30px;
    -webkit-text-fill-color: #e11161d7;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #e11161d7;
    border-radius: 4px;
}

button {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #e11161d7;
    color: #fefafa;
    font-size: 16px;
    cursor: pointer;

}

button:hover {
    background-color: #e11161d7;
}
